<nav-bar></nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <div style="padding: 10px">

                    <form ng-submit="$ctrl.generate()" class="form-inline" style="width: 100%">
                        <!--<h3>Year:</h3>-->
                        <!--<select ng-model="$ctrl.selectedServiceName" ng-options="x for x in $ctrl.yearList">-->
                        <!--</select>-->
                        <h3>Virus/Contaminant:</h3>
                        <select ng-model="$ctrl.selectedParameter" ng-options="x for x in $ctrl.virusOrContaminantList">
                        </select>
                        <br><br>
                        <label style="color: #1a1a1a">
                            Start Date:
                            <input id="start-date" style="color: #1a1a1a" type="date" name="input" ng-model="$ctrl.startDate">
                        </label>
                        <br><br>
                        <label style="color: #1a1a1a">
                            End Date:
                            <input id="end-date" style="color: #1a1a1a" type="date" name="input" ng-model="$ctrl.endDate">
                        </label>
                        <!--<h3>Location:</h3>-->
                        <!--<select ng-model="$ctrl.selectedLocation" ng-options="x for x in $ctrl.locationList">-->
                        </select>


                        <br>
                        <br>
                        <!--<a class="btn btn-info">Submit Request</a>-->
                        <input type="submit" class="btn btn-raised btn-success" value="View Graph"
                               style="margin-top: 1px">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <div style="padding: 10px">
                    <label style="color: #1a1a1a">Generated PPM over Time Graph:
                        <div id="chart_div" style="width:400px; height:300px"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>